<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461163311986-uj3rk2u95v9lt0t03gdk5b37b03fk5h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461163311986-uj3rk2u95v9lt0t03gdk5b37b03fk5h9</string>
	<key>API_KEY</key>
	<string>AIzaSyAlXSPfXZvK4Bxomdx9jh7EdReVKnXLdQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>461163311986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shbhm.pushMynot.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-61a14</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-61a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461163311986:ios:48bba46dab028b0280a3eb</string>

    
</dict>
</plist>
